@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  --color-bg-main: #f8fafc;
  --color-card: #ffffff;
  --color-accent: #7c3aed;
  --color-accent-soft: #ede9fe;
  --color-text-main: #1e293b;
  --color-text-muted: #94a3b8;
  --color-border-soft: #f1f5f9;
  --color-input-bg: #f8fafc;
  --color-input-border: #f1f5f9;
}

.dark {
  --color-bg-main: #0f172a;
  --color-card: #1e293b;
  --color-accent: #8b5cf6;
  --color-accent-soft: #2e1065;
  --color-text-main: #f1f5f9;
  --color-text-muted: #94a3b8;
  --color-border-soft: #334155;
  --color-input-bg: #1e293b;
  --color-input-border: #334155;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg-main);
  transition: color 0.3s, background-color 0.3s;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg-main);
}

@layer components {

  .bento-card {
    @apply bg-white border border-slate-100 rounded-4xl shadow-sm transition-all duration-300;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    @apply relative overflow-hidden;
  }

  .animate-shimmer::after {
    @apply absolute inset-0 content-[''];
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 100%);
    animation: shimmer 2s infinite;
  }
}

.btn-generate {
  @apply bg-[#2d2d2d] hover:bg-black text-white px-8 py-4 rounded-2xl font-bold flex items-center justify-center gap-2 transition-all active:scale-95 disabled:opacity-40 disabled:cursor-not-allowed;
}

.style-pill {
  @apply px-6 py-2 rounded-full text-sm font-semibold transition-all duration-300;
}

.style-pill-active {
  @apply bg-linear-to-r from-purple-600 to-indigo-600 text-white shadow-md shadow-purple-100;
}

.style-pill-inactive {
  @apply bg-slate-100 text-slate-400 hover:bg-slate-200;
}